@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.hamburger-line {
  @apply w-[30px] h-[3px] block rounded-full duration-500 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0 opacity-0;
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fadeIn.show {
  opacity: 1;
}